<div class="divMiddle">

    <div class="iconHand3">
        <img src="./assets/hand3.png">
    </div>

    <div class="divMiddleInformation">
        
        <h2>Evoluci&oacute;n Beneficio Tributario</h2>
        <h3>Gesti&oacute;n De Traslados Externos</h3>
    
        <div>
    
           <label for="selectNIT">Selecciona el NIT de la administradora</label>

           <select name="selectNIT" id="selectNIT" style="display: block !important;">
    
            <option value="1" disabled selected>Selecciona el NIT</option>
            <option value="2">Porvenir S.A.</option>
            <option value="3">opci&oacute;n 2</option>

        </select>
    
        </div> 

    </div>

</div>
