.size-header.inicio {
    background-position: center center;
    height: 13vh;
    background: #FFFFFF;
    border: 1px solid #878787;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contenedor {
    width: 95%;
    max-width: 90rem;
    margin: 0 auto;
}

.contenido {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

@media (min-width: 768px) {
    .contenido {
        text-align: left;
    }
}

.barra {
    padding-top: 1rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

img {
    max-width: 100%;
    margin-right: 0.6rem;
}

fieldset {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 20px;
    padding-right: 20px;    
    width: 1089px;
    height: 90px;
    left: 139px;
    top: 50px;
    background: #FFFFFF;
    border: 1px solid #878787;
    border-radius: 5px;
    margin-bottom: 20px;

}

.contenidoHead {
    display: flex;
    justify-content: space-between;
}

.letraNombre {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #3F3F3F;
    width: 385px;
    height: 23px;
    left: 21px;
    top: 0px;
}

.letraDocumento {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #3F3F3F !important;
}

.letraGrafica {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #3F3F3F !important;
}

.letraArchivo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #3F3F3F;
}

.divInformacion {
    margin-top: 2%;
}

h3, h4 {
margin-top: 2%;
margin-bottom: 2%;
}

h5{
    margin: auto;
}