<header class="size-header inicio">

    <div class="contenedor contenido">

        <div class="barra">

            <div>
                <h3 class="letraNombre"><img src="./assets/perfil.png"></h3>

        
                <h4 class="letraDocumento" ><img src="./assets/document.png">C.C</h4>
            </div>

            <div>
                <h4 class="letraGrafica"><img src="./assets/graphic.png">Plan Producto:</h4>
        
                <h3 class="letraArchivo"><img src="./assets/file.png">No. Contrato:</h3>
            </div>

        </div>

    </div>

</header>

<app-contributions-main></app-contributions-main>